* {
  display: border-box;
  margin: 0px;
}

html {
/* background-color: rgb(33,40,54); */
/* background-color: black; */
  background-color: rgb(41,41,41);
  color: white;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
