.card {
  display: grid;
  background-color: rgb(12,12,11);
  color: lightgrey;
  font-size: 22px;
  font-weight: 800;
  border: 2px solid darkgrey;
  border-radius: 7px;
  box-shadow: 7px 7px 7px rgb(131,131,131);
  place-self: center;
  place-items: center;
  width: 500px;
  height: 300px;
  position:relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: 1250ms, border 500ms;
  cursor: pointer;
}

.card:hover {
  /* transform: translateY(-2px); */
  border: 2px solid #48D597;
}

.card.flipped {
  transform: rotateY(180deg);
  box-shadow: -7px 7px 7px rgb(131,131,131);
  background-color: rgb(55, 55, 55);
}

.card .front {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  padding-left: 20px;
  padding-right: 20px;
}

.card .rear {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  padding-right: 20px;
  padding-left: 20px;
}
