.Header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 20px;
  padding-bottom: 15px;
  height: 100px;
  grid-column: 1 / -1;
  /* padding-top: 10px; */
}

#category {
  background-color: rgb(12,12,11);
  border: 1px solid darkgrey;
  color: lightgrey;
  font-size: 16px;
  margin-right: 15px;
  border-radius: 1px;
}

#category:hover {
  /* border: 1px solid #48D597; */
  /* border: 2px solid rgb(0,122,255); */
  cursor:pointer;
}

.label {
  color: lightgrey;
}

.category-form {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-top: 10px; */
}

.addCard-form {
  margin-left: 5px;
  display: grid;
  align-items: center;
  padding-top: 10px;
}

#question {
  width: 90%;
  background-color: rgb(12,12,11);
  border: 1px solid darkgrey;
  color: lightgrey;
  font-size: 16px;
  margin-bottom:2px;
}

#answer {
  width: 90%;
  background-color: rgb(12,12,11);
  border: 1px solid darkgrey;
  color: lightgrey;
  font-size: 16px;
}

.addCard-title {
  display: flex;
  justify-content: center;
  color: lightgrey;
  margin-bottom: 1px;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
}

.submit-btn {
  margin-top: 5px;
  width: 40%;
  background-color: rgb(55, 55, 55);
  color: lightgrey;
  border: 2px double darkgrey;
}

.submit-btn:hover {
  /* border: 2px solid #48D597; */
  border: 2px solid rgb(0,122,255);
}

.addCategory-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

}

.addCategory-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: lightgrey;
}

.addCategory-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2;
}

#addCategory {
  background-color: rgb(12,12,11);
  border: 1px solid darkgrey;
  color: lightgrey;
  font-size: 16px;
  width: 69%;
}

.category-submit-btn-container {
  display: flex;
  justify-content: center;
  grid-row: 3;
  height: 26.5px
}

.category-submit-btn {
  margin-top: 5px;
  width: 40%;
  background-color: rgb(55, 55, 55);
  color: lightgrey;
  border: 2px double darkgrey;
}

.category-submit-btn:hover {
  /* border: 2px solid #48D597; */
  border: 2px solid rgb(0,122,255);
}
